html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

html{
   height:100%;
}

body{
    min-height: 100%;
}

p {
    line-height: 2;
    font-size: 110%;
}

.welcome{
    width: 100%;
    padding-left: 3%;
    font-size: 140%;
}

.user_name{
    font-family: "American Typewriter";
    font-size: 145%;
    font-style: oblique;
}

.hor_list{
    width: 60%;
    padding: 1%;
    margin-left: 20%;
    display: inline-flex;
    margin-top: 2%;
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 5%;
}

.logo_div{
    margin-top: 1%;
    width: 40%;
}

.logo{
    width: 100%;
    margin: 1%;
}

.logo:hover{

}

.hr{
    width: 80%;
    margin-top: 5%;
    padding-left: 6%;
}
ul.hr li {
    display: inline;
    width: 10%;
    text-decoration: none;
}

.menu_elem{
    margin: 1%;
}

ul.hr li:hover{
}
a{
    text-decoration: none;
}
a:active{
    color: darkviolet;
}

.login_form{
}

table{
    width: 100%;
}

input{
    width: 36%;
    font-size: 100%;
}

.row{
    width: 100%;
}

.name{
    text-align: right;
    padding-right: 5%;
    font-family: "Apple SD Gothic Neo";
    font-size: 120%;
}

.data{
    text-align: left;
    width: 64%;
    min-width: 200px;
    text-decoration-color: blue;
}

.simple_button{
    min-width: max-content;
    width: 14%;
    height: 5%;
    padding: 0.5%;
    background: lightseagreen;
    font-family: "Arial Narrow";
    font-weight: 600;
    color: white;
    text-shadow: 1px 2px 1px blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5%;
    font-size: 100%;
}

.status-div{
    border: 2px solid green;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    height: 100px;
    font-size: 120%;
    text-align: center;
    color: #dddddd;
    background: #343a40;
}

.searchBy{
    display: -moz-inline-block;
    width: 100%;
    margin-bottom: 1%;
    text-align: center;
}

.input_nickname{
    margin-right: -30%;
    display: inline-flex;
}

.select_sort{
    margin-right: 2%;
    display: inline-flex;
    position: relative;
    font-family: Arial;
}

.title_filer{
    display: inline-flex;
    font-family: "Apple SD Gothic Neo";
    margin-right: 2%;
    font-size: 110%;
}

.simple_button:hover{
    box-shadow: 2px 3px 4px rgba(196, 0, 255, 0.2),
    -2px 3px 4px rgba(196, 0, 255, 0.2),
    0px -3px 4px rgba(196, 0, 255, 0.2);
}