body {
    height: 100%;
}

@keyframes animate {
    from {
    top:-320px; opacity:0}
    to {top:0; opacity:1}
}

.main_panel{
    width: 60%;
    margin-left: 20%;
}

div.cont{
    width: 100%;
    height: auto;
    min-width: 350px;
    display: inline-flex;
    border: 2px dashed blueviolet;
}

.mask_on_img{
    display: absolute;
}

img.cont{
    max-width: 100%;
    height: auto;
}

.main_image{
    display: hidden;
    width: 100%
}


div.video_div{
    padding: 2%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

div.rendered{
    padding: 2%;
    width: 20%;
    height: 600px;
    overflow-y:scroll;
}

video{
    border: 1px solid #ddd;
    border-radius: 2%;
    width: 100%;
}

.image_src{
    width: 100%;
    height: auto;
}

img.render {
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 5px;
    width: 100%;
    height: auto;
}

.masks{
    padding: 2%;
    width: 15%;
    height: auto;
}

.one_mask{
    margin-left: 5%;
    margin-top: 5%;
    width: 60%;
    height: auto;
}

img.render:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.modal {
    display: none;
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
    background-color: rgba(150, 150, 180, 0.85);
    overflow: auto;
    z-index: 1000;
    width: 60%;
    height: auto;
    padding: 1%;
}

.title{
    width: 30%;
}

.modal-header-footer{
    text-align: center;
}

.img_modal{
    border-radius: 2%;
    width: 80%;
    height: auto;
    padding: 2%;
    margin: 1%;
    background: #dddddd;
}

.modal-content {
    text-align: center;
    animation-name: animate;
    background-color: rgba(150, 150, 180, 0.1);

    overflow: auto;
    animation-duration: 0.5s
}

.my-modal-footer{
    text-align: center;
    padding: 1%;
}

.modal-title{
    padding-top: 2%;
    font-size: 125%;
    font-family: "Apple SD Gothic Neo";
    color: black;
}

.close {
    float: right;
    margin-right: 2%;
    font-size:  30px;
    font-weight:  bold;
}