
.user_photo{
    min-width: 500px;
    border: 1px solid salmon;
    border-radius: 2%;
    text-align: center;
}

.post_info{
    border: 1px solid red;
    border-radius: 1%;
    width: 60%;
    margin-left: 20%;
}

.img_user{
    width: 90%;
}

.title_date{
    width: 100%;
    min-height: 50px;
    display: inline-flex;
}

.left_text{
    width: 20%;
    text-align: left;
    padding: 3%;
    padding-left: 5%;
}

.center_text{
    width: 60%;
    text-align: left;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.right_text{
    width: 20%;
    text-align: right;
    padding: 3%;
}


.users_likes{
    display: none;
    border: 1px dashed black;
    position: absolute;
    min-width: 8%;
    margin-left: 8%;
    padding: 1%;
    line-height: 1.5;
    background-color: rgb(0,0,0);
    background-color: rgba(120, 74, 226, 0.92);
    overflow: auto;
    text-align: center;
    z-index: 1000;
}

.confirm_delete{
    padding: 2%;
    display: none;
    border: 4px double red;
    width: 56%;
    font-size: 150%;
    margin-left: 20%;
    min-height: 60px;
    overflow: auto;
    text-align: center;
    z-index: 1000;
}

.confirm{
    width: 50%;
}

.cancel{
    width: 50%;
}

.one_comment{
    border: 1px solid lightcoral;
    margin: 2%;
}

textarea
{
    width:95%;
    text-align: left;
}

.leave_comment{
    width:100%;
    margin: 2%;
    text-align: left;
}

.comment_data{
    border: 1px solid black;
    text-align: left;
}

.comment{
    padding-top: 2%;
    width: 50%;
}

.like{
    padding-top: 2%;
    width: 50%;
}

.comment_like{
    margin-right: 5%;
    width: 22px;
    height: 22px;;
}

.comment_like:hover{
    box-shadow: 2px 3px 4px rgba(196, 0, 255, 0.2),
    -2px 3px 4px rgba(196, 0, 255, 0.2),
    0px -3px 4px rgba(196, 0, 255, 0.2);
}

