.user_photo{
    border: 1px solid salmon;
    border-radius: 2%;
    text-align: center;
}

.img_user{
    border: 2px solid silver;
}

.post_info{
    width: 60%;
    margin-left: 20%;
    border: 1px solid green;
}

.title_date{
    text-align: none;
    display: inline-flex;
}

.left_text{
    margin-left: 0%;
    border: 1px solid orchid;
}
.rigth_text{
    margin-right: 0%;
    border: 1px double yellowgreen;
}

.comment_like{
    width: 22px;
    height: 22px;;
}