.user_photo{
    min-width: 400px;
    border: 1px solid salmon;
    border-radius: 2%;
    text-align: center;
}


.post_info{
    width: 60%;
    margin-left: 20%;
}

.img_user{
    width: 90%;
}

.title_date{
    text-align: none;
    display: inline-flex;
}

.left_text{
    margin-left: 0%;
}
.rigth_text{
    margin-right: 0%;
}

.comment_like{
    width: 22px;
    height: 22px;;
}